<% layout('layouts/boilerplate') %>

<div id="map" class="clusterMap"></div>

<div class="container d-flex-column justify-content-center align-items-center">
  <h1 class="mt-5 mb-3 text-center">All Campgrounds</h1>
  <% for(let i=0;i<4;i++){ %>
  <div class="card mb-3 campground">
    <div class="row g-0">
      <div class="col-md-4">
        <% if(campgrounds[i].images){ %>
        <img
          src="<%= campgrounds[i].images[0].url %> "
          class="img-fluid rounded-start index-image"
          alt="..."
        />
        <% }else{ %>
        <img src="" class="img-fluid rounded-start" alt="..." />
        <% } %>
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title" style="background-color: #000">
            <%= campgrounds[i].title %>
          </h5>
          <h6><%= campgrounds[i].properties.popup %></h6>
          <p class="card-text index-description">
            <%= campgrounds[i].description %>
          </p>
          <p class="card-text">
            <small class="text-muted"><%= campgrounds[i].location %> </small>
          </p>
          <a
            class="btn btn-primary"
            href="/campgrounds/<%= campgrounds[i].id %> "
            >Show more</a
          >
        </div>
      </div>
    </div>
  </div>
  <% } %>
  <a class="btn btn-primary mt-4 mb-4 last" href="/campgrounds/all"
    >Show All Campgrounds</a
  >
</div>

<script>
  const campgrounds = {features: <%- JSON.stringify(campgrounds) %>};
</script>
<script src="/clusterMaps.js"></script>
